@font-face {
  font-family: 'HK-Grotesk';
  src: url(../fonts/HKGrotesk-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'HK-Grotesk';
  src: url(../fonts/HKGrotesk-Medium.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'HK-Grotesk';
  src: url(../fonts/HKGrotesk-SemiBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'HK-Grotesk';
  src: url(../fonts/HKGrotesk-Bold.otf);
  font-weight: 800;
}
